.green-nav {
  background-color: #00FFAB;
}

.drop-shadow {
  box-shadow: 0 0 10px 0;
}

.header {
  padding-top: 20px;
  margin-top: -20px;
}

@media (min-width: 1600px) {
  .green-pic-bg {
    padding-left: 12vw;
    padding-right: 12vw;
  }
}

@media (min-width: 1400px) and (max-width:1600px) {
  .green-pic-bg {
    padding-left: 9vw;
    padding-right: 9vw;
  }
}

.green-pic-bg {
  background-image: url(../../assets/img/vecteezy_abstract-gradient-wave-and-lines-background-vector_7118666.jpg);
  background-size: cover;
}

body {
  font-family: 'Century';
}

.hello {
  font-size: 40px;
  font-weight: bold;
}

@media (min-width: 992px) {
  .hello {
    font-size: 50px;
    font-weight: bold;
  }
}

.short-profile-desc {
  font-size: 13px;
  text-align: justify;
}

@media (min-width: 992px) {
  .short-profile-desc {
    font-size: 20px;
    text-align: justify;
  }
}

@media (min-width: 768px) and (max-width:991px) {
  .short-profile-desc {
    font-size: 18px;
    text-align: justify;
  }
}

@media (min-width: 576px) and (max-width:767px) {
  .short-profile-desc {
    font-size: 15px;
    text-align: justify;
  }
}

.intro-text {
  width: 45%;
  margin-right: 15px;
}

.profile-pic {
  width: 150px;
  border-radius: 50%;
  height: 150px;
}

@media (min-width: 992px) {
  .profile-pic {
    width: 300px;
    border-radius: 50%;
    height: 300px;
  }
}

@media (min-width: 768px) and (max-width:991px) {
  .profile-pic {
    width: 250px;
    border-radius: 50%;
    height: 250px;
  }
}

@media (min-width: 576px) and (max-width : 767px) {
  .profile-pic {
    width: 200px;
    border-radius: 50%;
    height: 200px;
  }
}

.profile-pic-container {
  width: 45%;
  text-align: right;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
}

.my-creations {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.featured-item.non-first {
  margin-left: 5%;
}

.featuring {
  text-align: center;
}

.featured-item {
  border: 1px solid #00FFAB;
  border-radius: 10px;
  padding: 30px 10px 30px 10px;
  margin: 0 5px 20px 5px;
}

.featured-item-icon {
  font-size: 35px;
  margin-bottom: 10px;
}

.col.col-lg-4.col-md-4.col-sm-6.featured-item-icon-container {
  text-align: center;
}

.row-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.featured-item-text {
  font-size: 15px;
}

.check-out-button-text {
  margin-right: 5px;
  font-size: 14px;
}

.check-out-button {
  background-color: #00FFAB;
  padding: 5px;
  border-radius: 20px;
}

.green-bg-transparent {
  background: rgba(0, 255, 171, 0.2);
}

.follows {
  text-align: center;
  padding: 30px 10px 50px 10px;
}

.follow-me {
  font-size: 25px;
}

@media (max-width: 769px) {
  .follow-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    background-color: white;
    width: 150px;
    border-radius: 30px;
    border: 1px solid #00FFAB;
    margin-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (min-width: 769px) {
  .follow-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: white;
    width: 200px;
    border-radius: 30px;
    border: 1px solid #00FFAB;
    margin-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.follow-button:hover {
  background-color: #14C38E;
  cursor: pointer;
}

@media (max-width: 769px) {
  .follow-button-text {
    font-size: 15px;
    margin-bottom: 5px;
  }
}

@media (min-width: 769px) {
  .follow-button-text {
    font-size: 18px;
    margin-bottom: 5px;
  }
}

.follows-container {
  display: flex;
  justify-content: center;
}

.simple-slider {
  width: 70%;
  height: 70%;
  margin: auto;
}

.project-green {
  background-color: rgba(0, 255, 171, 0.2);
}

.project {
  padding-top: 10px;
  padding-bottom: 10px;
}

.skill-image {
  width: 100px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.skill {
  margin-bottom: 20px;
}

